@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #222;
  --box-background: #eaeaea;
  --main-background: #e2e2e2;
  --gray: #62656D;
  --red: #CB0D0B;
}

.dark {
  --text: #eaeaea;
  --box-background: #2a2a2a;
  --main-background: #18181b;
  --gray: #838898;
  --red: #E9574F;
}

html {
  font-family: 'Poppins', sans-serif;
}

