@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  min-height: 100vh;
  height: 100%;
  background-color: #0F1013;
  font-family: 'Poppins', sans-serif;
}
