@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: hsl(223, 21%, 12%);
  --box-background: hsl(221, 24%, 93%);
  --main-background: hsl(221, 24%, 87%);
  --gray: hsl(221, 10%, 50%);
}

.dark {
  --text: hsl(221, 24%, 93%);
  --box-background: hsl(223, 20%, 15%);
  --main-background: hsl(223, 20%, 13%);
  --gray: hsl(221, 10%, 60%);
}

html {
  font-family: 'Poppins', sans-serif;
}

  